{
    "presets": [
        ["es2015", {"modules": false}],
        "stage-2",
        "react",
    ],
    "plugins": [
        "react-hot-loader/babel" // enable React code to work with hot module replacement
    ]
}