{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugin": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": [
        "error",
        2
    ],
    "quotes": [
        "error",
        "single"
    ],
    "max-len": [
        "error",
        120
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": 0,
    "no-param-reassign": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}